<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<div class="jumbotron text-center customizedBig bg-no-overlay">
    <h1 class="textInTransparentBlack">My <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Portfolio</h1>
    <h2 class="textInTransparentBlack">Welcome to your own amazing portfolio builder</h2>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<div class="row">
    <div class="col-sm-12 contentCentered">
        <a class="btn btn-primary" href="/portfolios" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> View Portfolios
        </a>
    </div>
</div>
