<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<div class="jumbotron text-center customizedBigIceland bg-no-overlay">
    <div class="textInTransparentBlack">
        <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
        <h2>Welcome to your own portfolio builder</h2>
    </div>

    <div class="textInTransparentBlack homePageList">
        <ul>
            <li><span class="hvr-forward">Access with your Google account to create and update your own portfolio</span></li>
            <li><span class="hvr-forward">Share your portfolio</span></li>
            <li><span class="hvr-forward">View other users' portfolios</span></li>
            <li><span class="hvr-forward">...enjoy <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span></li>
        </ul>
    </div>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<% if ((typeof user !== 'undefined') && (user)) { %>
<div class="row">
    <div class="col-sm-3 contentCentered">
        <a class="btn btn-primary hvr-float-shadow" href="/portfolios" role="button">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> List Portfolios
        </a>
    </div>
    <div class="col-sm-3 contentCentered">
        <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= user.google.eslug %>" role="button">
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> View Portfolio
        </a>
    </div>
    <div class="col-sm-3 contentCentered">
        <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolioInfos" role="button">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile Infos
        </a>
    </div>
    <div class="col-sm-3 contentCentered">
        <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolioProjects" role="button">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit Projects
        </a>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-sm-6 contentCentered">
        <a class="btn btn-primary hvr-float-shadow" href="/portfolios" role="button">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> List Portfolios
        </a>
    </div>
    <div class="col-sm-6 contentCentered">
        <a class="btn btn-primary hvr-float-shadow" href="/auth/google" role="button">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login with Google
        </a>
    </div>
</div>
<% } %>
<hr class="featurette-divider">

<div class="row">
    <div id="share" class="col-sm-12 contentCentered"></div>
</div>

<script>
    $(function () {
        $("#share").jsSocials({
            showCount: "inside",
            showLabel: true,
            shareIn: "popup",
            shares: [
                "email",
                "twitter",
                "facebook",
                "googleplus",
                "linkedin",
                { share: "pinterest", label: "Pin this" },
                "stumbleupon",
                "whatsapp"
            ]
        });
    });
</script>
