<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<div class="jumbotron text-center customizedBig bg-no-overlay">
    <div class="textInTransparentBlack">
        <h1><img alt="MyPortfolio" class="img-circle" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
        <h2>Welcome to your own portfolio builder</h2>
    </div>

    <div class="textInTransparentBlack homePageList">
        <ul>
            <li>Access with your Google account to create and update your own portfolio</li>
            <li>Share your portfolio</li>
            <li>View other users' portfolios</li>
            <li>...enjoy <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></li>
        </ul>
    </div>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<div class="row">
    <div class="col-sm-12 contentCentered">
        <a class="btn btn-primary" href="/portfolios" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> View Portfolios
        </a>
    </div>
</div>
