<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li class="active">Terms Of Use</li>
</ol>

<div class="jumbotron text-center customizedNormalAbstract bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered textInTransparentBlack">
            <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
            <h2><span>Terms Of Use</span></h2>
        </div>
    </div>
</div>

<div data-example-id="contextual-panels-termsofuse">
    <div class="panel panel-primary">
        <!-- Terms of Use title -->
        <div class="panel-heading"><h3 class="panel-title bigger-title">Terms Of Use, Privacy Policy and Cookie Policy</h3></div>
        <!-- Detailed Description -->
        <div class="panel-body summernoteContents"> <%- termscontent %> </div>
    </div>
</div>
